.App {
  text-align: center;
}

.App-contents {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  margin: 2rem;
}

.name-input {
  width: 20rem;
  padding: 0.7rem;
  border: 0;
  border-radius: 12px;
  outline-color: #3d4451;
  box-sizing: border-box;
}

.submit-button {
  width: 20rem;
  padding: 0.7rem;
  border-radius: 12px;
  margin-top: 10px;
  background-color: aliceblue;
  color: #282c34;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(205, 211, 218);
}
